<div class="container">
<div class="row">
<div class="col-sm-12">

<h1>Stephen C. Inglis</h1>

<p>
The purpose of this web application is to showcase some small projects after learning ruby on rails.
</p>

<p>
The <%= link_to "reddit censorship", reddit_path %> project examines a subreddit, examining all its new posts and seeing which ones are removed from the subreddit after one day.
The data is availble to view as html or as json, and the most recent 1000 censored posts are kept on the application.
</p>

<p>
The <%= link_to "Sudoku solver", sudoku_path %> project is a simple use of Markov chain Monte Carlo (MCMC) to solve Sudoku puzzles provided by the user.
The problems are written to a database and solved asynchronously, and later refrehses of the page will display solutions (or failure of the simulation).
The simulation could be run on the client side using javascript, displaying current progress as the simulation runs, but I decided I wanted to support solving even for devices that had very little computational power.
</p>

</div>
</div>
</div>