<div class="container">
<div class="row">
<div class="col-sm-12">

<h1>Stephen C. Inglis</h1>

<p>
My personal webside can be found at <%= link_to "https://sites.google.com/site/stephencinglis/", 'https://sites.google.com/site/stephencinglis/' %>
</p>

<p>
The purpose of this web application is to showcase some small projects after learning Ruby on Rails.
It includes basic fundamentals such as routing, controllers, views, working with a database and models with a full suite of testing using Rspec, as well as things like external API calls, asynchronous jobs and serving up its own API for the results.
The github repository for this project can be found <%= link_to "here", 'https://github.com/dartonias/Heroku_Demo' %>.
It is forked off the standard Heroku template for a Ruby on Rails project, but this was only to simplify compatibility and ensure the appropriate gems were configured.
</p>

<p>
The <%= link_to "reddit censorship", reddit_path %> project examines a subreddit, examining all its new posts and seeing which ones are removed from the subreddit after one day.
The data is available to view as HTML or as JSON, and the most recent 1000 censored and uncensored posts (after 1 day) are kept on the application.
</p>

<p>
The <%= link_to "Sudoku solver", sudoku_path %> project is a simple use of Markov chain Monte Carlo (MCMC) to solve Sudoku puzzles provided by the user.
The problems are written to a database and solved asynchronously, and later refreshes of the page will display solutions (or failure of the simulation).
The simulation could be run on the client-side using JavaScript, displaying current progress as the simulation runs, but I decided on running them server-side to support solving even for devices that had very little computational power.
</p>

</div>
</div>
</div>