<tr>
<td><%= link_to listing.name + ' ' + listing.address, "https://www.remax.ca#{listing.url}" %></td>
<td><%= listing.square %></td>
<td><%= number_to_currency listing.price, precision: 0 %></td>
</tr>