// Place all the styles related to the SudokuPuzzles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

hr {
  border-color: #888888;
}
input[type=number] {
  height: 1.6em;
  width: 1.6em;
  text-align: center;
  padding: 0;
  border: 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type="number"] {
  -moz-appearance: textfield;
}
td.error {
  background-color: #ff9891;
}
table.args td:nth-child(2) {
  padding-left: 20px;
}

// Formatting modified from http://stackoverflow.com/a/23497716
table.sudoku { 
  border-collapse: collapse; 
  font-family: Calibri, sans-serif; 
}
table.sudoku colgroup, table.sudoku tbody { 
  border: solid medium;
}
table.sudoku td { 
  border: solid thin; 
  height: 1.8em; 
  width: 1.8em; 
  text-align: center; 
  padding: 0; 
}
table.sudoku caption {
  height: 56px;
}