<tr>
<td><%= post.subreddit %></td>
<td><%= link_to raw(post.title), "https://www.reddit.com/r/#{post.subreddit}/comments/#{post.reddit_id}" %>
<% if post.censor_probability %>
<br>Censorship probability: <%= number_to_percentage(post.censor_probability*100, precision: 0) %>
<% end %>
</td>
<td class="dont-break-out"><%= link_to post.url, post.url %></td>
</tr>