<tr>
<td><%= post.subreddit %></td>
<td class="dont-break-out"><%= link_to post.title, "https://www.reddit.com/r/#{post.subreddit}/comments/#{post.reddit_id}" %></td>
<td><%= link_to post.url, post.url %></td>
</tr>